<div fxLayout="row wrap">
    <!-- column -->
    <div fxFlex.gt-sm="25" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <!-- Row -->
                <div class="d-flex no-block">
                    <!-- column -->
                    <div class="m-r-10 no-shrink">
                        <button mat-fab mat-card-icon class="shadow-none bg-inverse bg-success">
                            <mat-icon>library_books</mat-icon>
                        </button>
                    </div>
                    <!-- column -->
                    <div>
                        <h3 class="m-0">{{qty_articles}}</h3>
                        <h6 class="text-muted m-0">Articles</h6>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>

</div>

<app-articles-table [qty_articles]="qty_articles"></app-articles-table>